.content {
    margin: 16px;
  }
  
  .demo-table {
    width: 80%;
  }
  
  .tablediv {
    margin-top: 24px;
  }
  
  .input-width {
    min-width: 150px;
    max-width: 700px;
    width: 50%;
  }

  .error-hint {
    color: red;
  }